{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Beautiful Notes</title>
    <link rel="stylesheet" href="{% static '/water.css' %}">
    <script src="{% static 'htmx.js' %}"></script>
</head>
<body>
    <main>
        <section>
            <form 
			hx-post="/notes/save/1/"
			hx-trigger="keyup changed delay:1s from:textarea"
			hx-swap="none"
			hx-encoding="multipart/form-data"
		>
                <textarea
			id="body"
			name="body"

			required>{{ body }}</textaRea>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>

